<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Przesyłkę</title>
</head>
<body>
    <h1>Dodaj Przesyłkę</h1>
    <form method="POST" action="/dodaj_przesylke">
        <input type="text" id="od" name="od" placeholder="Od.." required>
        <input type="text" id="do" name="do" placeholder="Do.." required>
        <input type="text" id="gdzie_nadana" name="gdzie_nadana" placeholder="Gdzie nadana" required>
        <input type="text" name="gdzie_do_odbioru" placeholder="Gdzie do odbioru" required>
        <select name="klasa">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <label>
            <input type="radio" name="typ_przesylki" value="osobista" checked>
            Przesyłka prywatna
        </label>
        <label>
            <input type="radio" name="typ_przesylki" value="firmowa">
            Przesyłka firmowa
        </label>
        <select id="nazwa_firmy" name="nazwa_firmy" style="display: none;">
            <option value="">Wybierz firmę...</option>
            {% for firma in firmy %}
                <option value="{{ firma.IdFirmy }}">{{ firma.NazwaFirmy }}</option>
            {% endfor %}
        </select>
        <input type="text" id="nip" name="nip" placeholder="NIP" style="display: none;">
        <button type="submit">Dodaj</button>
    </form>
    <script>
        const radioFirmowa = document.querySelector('input[name="typ_przesylki"][value="firmowa"]');
        const selectFirma = document.getElementById('nazwa_firmy');
        const inputNIP = document.getElementById('nip');

        radioFirmowa.addEventListener('change', function() {
            if (this.checked) {
                selectFirma.style.display = 'block';
                inputNIP.style.display = 'block';
            } else {
                selectFirma.style.display = 'none';
                inputNIP.style.display = 'none';
            }
        });
    </script>
</body>
</html>
