-- Utworzenie tabeli Uzytkownicy
CREATE TABLE Uzytkownicy (
    IdUzytkownika INT PRIMARY KEY IDENTITY,
    Imie VARCHAR(255),
    Nazwisko VARCHAR(255)
);

-- Utworzenie tabeli DaneUzytkownikow
CREATE TABLE DaneUzytkownikow (
    IdDaneUzytkownika INT PRIMARY KEY IDENTITY,
    IdUzytkownika INT FOREIGN KEY REFERENCES Uzytkownicy(IdUzytkownika),
    Adres VARCHAR(255),
    Ostatnie10Przesylek VARCHAR(MAX),
    NajczestszyOdbiorca VARCHAR(255),
    IloscPrzesylekDoNajczestszegoOdbiorcy INT
);

-- Usunięcie istniejącej tabeli DaneFirm
DROP TABLE IF EXISTS DaneFirm;

-- Utworzenie tabeli DaneFirm
CREATE TABLE DaneFirm (
    IdFirmy INT PRIMARY KEY IDENTITY,
    NazwaFirmy VARCHAR(255),
    NIP VARCHAR(255),
    AdresMagazynu VARCHAR(255),
    IloscWyslanychPrzesylek INT,
    DataWyslaniaOstatniejPrzesylki DATETIME,
    DataDodaniaDoSystemu DATETIME DEFAULT GETDATE(),
    NajczestszyOdbiorca VARCHAR(255),
    IloscPrzesylekDoNajczestszegoOdbiorcy INT
);



-- Przykładowe dane
INSERT INTO Uzytkownicy (Imie, Nazwisko) VALUES ('Jan', 'Kowalski');
INSERT INTO Uzytkownicy (Imie, Nazwisko) VALUES ('Anna', 'Nowak');

INSERT INTO DaneUzytkownikow (IdUzytkownika, Adres, Ostatnie10Przesylek, NajczestszyOdbiorca, IloscPrzesylekDoNajczestszegoOdbiorcy)
VALUES (1, 'Warszawa', 'Przesylka1, Przesylka2', 'Marta Kowalska', 2);

INSERT INTO DaneUzytkownikow (IdUzytkownika, Adres, Ostatnie10Przesylek, NajczestszyOdbiorca, IloscPrzesylekDoNajczestszegoOdbiorcy)
VALUES (2, 'Kraków', 'Przesylka3, Przesylka4', 'Piotr Nowak', 3);

INSERT INTO DaneFirm (NazwaFirmy, NIP, AdresMagazynu, IloscWyslanychPrzesylek, DataWyslaniaOstatniejPrzesylki, NajczestszyOdbiorca, IloscPrzesylekDoNajczestszegoOdbiorcy)
VALUES ('Firma A', '1234567890', 'Warszawa', 10, GETDATE(), 'Jan Kowalski', 5);

INSERT INTO DaneFirm (NazwaFirmy, NIP, AdresMagazynu, IloscWyslanychPrzesylek, DataWyslaniaOstatniejPrzesylki, NajczestszyOdbiorca, IloscPrzesylekDoNajczestszegoOdbiorcy)
VALUES ('Firma B', '0987654321', 'Kraków', 20, GETDATE(), 'Anna Nowak', 8);
