<!DOCTYPE html>
<html>
<head>
    <title>Magazyn Przesyłek</title>
</head>
<body>
    
    <h1>Dodaj Przesyłkę</h1>
    <form method="POST" action="/dodaj_przesylke">
        <input type="text" id="od" name="od" placeholder="Od.." required>
        <input type="text" id="do" name="do" placeholder="Do.." required>
        <input type="text" id="gdzie_nadana" name="gdzie_nadana" placeholder="Gdzie nadana" required>
        <input type="text" name="gdzie_do_odbioru" placeholder="Gdzie do odbioru" required>
        <select name="klasa">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <select id="nazwa_firmy" name="nazwa_firmy" style="display: none;">
            <option value="">Wybierz firmę...</option>
            {% for firma in firmy %}
            <option value="{{ firma.IdFirmy }}">{{ firma.NazwaFirmy }}</option>
            {% endfor %}
        </select>
        <div id="other-company-inputs" style="display: none;">
            <input type="text" id="od_firm" name="od_firm" placeholder="Od.." class="company-input" disabled>
            <input type="text" id="gdzie_nadana_firm" name="gdzie_nadana_firm" placeholder="Gdzie nadana" class="company-input" disabled>
            <select name="klasa" class="company-input" disabled>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
        <label>
            <input type="checkbox" id="is_company" name="is_company">
            Przesyłka wysyłana przez firmę
        </label>
        <button type="submit">Dodaj</button>
    </form>
    
    <a href="/dodaj_firme">Dodaj Firmę Nadawczą</a>
    <a href="/szukaj_kodu_kreskowego">Szukaj kodziku</a>
    <h2>Szukaj Przesyłki</h2>
    <form method="GET" action="/wynik">
        <input type="text" name="numer" placeholder="Numer przesyłki" required>
        <button type="submit">Szukaj</button>
    </form>

    <form method="POST" action="/zmien_status">
        <a href="/zarzadzanie_przesylkami">zarzadzanie przesylkami</a>
    </form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('Skrypt został załadowany');
    const firmaSelect = document.querySelector('#nazwa_firmy');
    const isCompanyCheckbox = document.querySelector('#is_company');
    const gdzieNadanaInput = document.querySelector('#gdzie_nadana');
    const odInput = document.querySelector('#od');

    console.log('Elementy zostały zidentyfikowane:', { firmaSelect, isCompanyCheckbox, gdzieNadanaInput, odInput });

    isCompanyCheckbox.addEventListener('change', function() {
        console.log('Zmiana checkboxa:', isCompanyCheckbox.checked);
        document.getElementById('other-company-inputs').style.display = isCompanyCheckbox.checked ? 'block' : 'none';
        firmaSelect.style.display = isCompanyCheckbox.checked ? 'block' : 'none';
    });

    firmaSelect.addEventListener('change', function() {
        console.log('Wybrano firmę:', firmaSelect.value);
        if (firmaSelect.value) {
            fetch(`/adres_nadania?nazwa_firmy=${firmaSelect.value}`)
            .then(response => response.json())
            .then(data => {
                console.log('Dane adresu nadania:', data);
                gdzieNadanaInput.value = data.adres_nadania || 'Nie znaleziono adresu';
                odInput.value = firmaSelect.options[firmaSelect.selectedIndex].textContent;
            })
            .catch(error => console.error('Błąd podczas pobierania adresu:', error));
        } else {
            gdzieNadanaInput.value = '';
            odInput.value = '';
        }
    });
});
</script>
        
</body>
</html>
